<div id="map"></div>
<button id="btn" (click)="requestRedraw()">Générer trajet</button>
<!-- <div> <form>
    <label for="condDep">Départ conducteur : </label><input type="text" #condDep>
    <div><label for="condArr">Arrivée conducteur : </label><input type="text" #condArr></div>
    <div><label for="passDep">Départ passager : </label><input type="text" #passDep></div>
    <div><label for="passArr">Arrivée passager : </label><input type="text" #passArr></div>
    <button type="submit" (onClick)="soumettre(condDep.value, condArr.value, passDep.value, passArr.value)"> Générer trajet</button>
</form>  -->
<!-- </div> -->